

body {
  background-color: rgb(150, 149, 149);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.1fr 1.1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "aside weather-container weather-container weather-container"
      "aside weather-forcast weather-forcast weather-forcast";
  }
  .header { 
    grid-area: header;
    background-color: #2e97ff;
    ;
    color: white;
    height: 150px;
    margin-bottom: 0;
    border-bottom:black;
  
   }

   .header h1 {
     text-align: center;
     padding-top: 50px;
     font-size: 3em;
   }
  .aside { 
    grid-area: aside;
    border: 2px solid black; 
    /* border-left: none; */
    border-radius: 5px;
    background-color: #f2f3f2;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0;
  }

  .aside p {
    margin-left: 1em;
  }

input[type="text"] {
  height: 2em;
  width: 50%;
  margin-left: 1em;
  
}
button {
  height: 2em;
}



  .container { 
    grid-area: weather-container; 
    margin-top: 1em;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #2e97ff;
    color: white;

  }

.current-weather {
  width: 100%;
 
}
/* .weather {
  text-align: center;
} */
.five-day-icon {
  display: none;
}
#wIcon {
  display: none;
  /* background-color: #2e97ff; */
}


  .weather-forcast { grid-area: weather-forcast; }

  .card-body {
    background-color: #2e97ff;
    color: white;
    border-radius: 5px;
    border-color: black;
  }


  .favorable {
    background-color: green;
    color: white;
  }

  .moderate {
    background-color: yellow;
    color: white;
  }

  .severe {
    background-color: red;
    color: white;
  }

  ul {
    margin: auto;
  }
  
  li {
    list-style: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 1em;
  }
  