

body {
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.1fr 1.1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "aside weather-container weather-container weather-container"
      "aside weather-forcast weather-forcast weather-forcast";
  }
  .header { 
    grid-area: header;
    background-color: rgb(29, 29, 61);
    color: white;
    height: 150px;
    margin-bottom: 0;
  
   }

   .header h1 {
     text-align: center;
     padding-top: 50px;
     font-size: 3em;
   }
  .aside { 
    grid-area: aside;
    border: 2px solid rgb(29, 29, 61); 
    /* border-left: none; */
    border-radius: 2px;
    background-color: rgb(208, 238, 238);
    margin-right: 10%;
    margin-top: 0;
  }

  .aside p {
    margin-left: 1em;
  }

input[type="text"] {
  height: 2em;
  width: 50%;
  margin-left: 1em;
  
}
button {
  height: 2em;
}



  .container { 
    grid-area: weather-container; 
    margin-top: 1em;

  }

.current-weather {
  width: 100%;
  border: 2px solid gray;
  border-right: none;
}
.weather {
  margin-left: 1em;
}


  .weather-forcast { grid-area: weather-forcast; }